* {
  box-sizing: border-box;
}
body {font-family: Courier New, sans-serif; margin:0; background-image:url('G:/webdev/images/ke1.jpg');background-size:contain;background-repeat:no-repeat;}
.navbar {
  overflow: hidden;
  background-color: #333;
  font-family: Arial, Helvetica, sans-serif;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 20px 30px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  cursor: pointer;
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 20px 30px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn, .dropbtn:focus {
  background-color: red;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.show {
  display: block;
}
.column {
  float:left;
  width: 50%;
  padding:50px;
  height: 400px;
}
.head1
{
text-align:center;
color:black;
}
.p2
{
font-family:Courier New;
font-size:25px;
color:black;
text-align:justify;
margin-left:50px;
margin-right:900px;
}

.container {
  position: relative;
  width: 50%;
}

.image {
  display: block;
  width:300px;
  height:300px;
  border:2px solid black;
padding:5px;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #008CBA;
}

.container:hover .overlay {
  opacity: 1;
}

.text{
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.column {
  float:left;
  padding:30px;
  width: 25%;
}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}
.head2
{
text-align:center;
color:#ff0080;
}
.p1
{
text-align:justify;
font-size:20px;
padding:25px;
color:#000099;
font-family:Courier New;
}